#cart-page {
    .cart {
        background-color: #ffffff;
        max-width: 800px;
        margin: 50px auto;
        border-radius: 20px;
        .title {
            font-size: 2.2rem;
            font-weight: 800;
            text-align: center;
            padding: 15px 0;
        }

        .items {
            margin: 0 40px 0 40px;
        }

        .containerTotal {
            display: flex;
            justify-content: space-between;
            .totalName {
                font-size: 2.2rem;
                font-weight: 800;
                @media screen and (max-width: 640px) {
                    font-size: 1.2rem;
                }
            }
            .totalPrice {
                font-size: 2.2rem;
                font-weight: 800;
                @media screen and (max-width: 640px) {
                    font-size: 1.2rem;
                }
            }
        }
        .free-shipping {
            text-align: center;
            margin: 50px 0;
            span {
                background-color: rgb(199, 255, 166);
                color: rgb(33, 122, 0);
                border-radius: 50px;
                font-size: 2rem;
                font-weight: 600;
                padding: 10px 20px 15px 20px;
                @media screen and (max-width: 800px) {
                    font-size: 1.5rem;
                    background: none;
                }
            }
        }

        .btn {
            background-color: rgb(59, 116, 242);
            color: white;
            font-size: 2.3rem;
            border: none;
            border-radius: 12px;
            width: 100%;
            height: 100px;
            margin: 30px 0 50px 0;
            font-weight: 700;
            cursor: pointer;
            &:hover {
                background-color: rgb(31, 91, 221);
            }
            @media screen and (max-width: 640px) {
                font-size: 1.5rem;
            }
        }
    }

    .empty-message {
        font-size: 2rem;
    }
}